<!--<h1>{{title}}</h1>-->
<!--<p>Welcome to {{title}}</p>-->

<!--<a href="/auth">Log In with OAuth 2.0 Provider</a>-->

<!--<br>-->
<!--<br>-->

<!--<hr/>-->
<!--<br>-->

<!--<a href="/openid">Log In with OpenID Connect</a>-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0053)https://delportal-bellhelicopter.cs21.force.com/login -->
<html xmlns="http://www.w3.org/1999/xhtml" style="visibility: visible;"><script>(function installFakeGeolocationCode() {
    var timerId = null;
    if (!navigator.geolocation) {
        return;
    }
    navigator.geolocation.getCurrentPosition_ = navigator.geolocation.getCurrentPosition;
    navigator.geolocation.watchPosition_ = navigator.geolocation.watchPosition;
    navigator.geolocation.clearWatch_ = navigator.geolocation.clearWatch;

    navigator.geolocation.clearWatch = function (id) {
        window.clearInterval(id);
    };

    function sendBackResponse (successCb, errorCb, options, jsonedResponse) {
        var response = JSON.parse(jsonedResponse);
        if (response.isEnabled) {
            successCb({ 'coords': { 'latitude': response.lat, 'longitude': response.lng,
                    'accuracy': response.accuracy }, 'timestamp': new Date().getTime() });
        } else {
            navigator.geolocation.getCurrentPosition_(successCb, errorCb, options);
        }
    }

    function createGetFakePosition(successCb, errorCb, options) {
        return function () {
            var positionElement = document.getElementById('fake_position_meta');
            if (!positionElement) {
                var interval = setInterval(function() {
                    positionElement = document.getElementById('fake_position_meta');
                    if (positionElement) {
                        clearInterval(interval);
                        sendBackResponse(successCb, errorCb, options, positionElement.getAttribute('content'));
                    }
                }, 200 /* ms */);
            } else {
                // we already have the div, no need for intervals etc.
                sendBackResponse(successCb, errorCb, options, positionElement.getAttribute('content'));
            }
        };
    };

    navigator.geolocation.getCurrentPosition = function (cb1, cb2, options) {
        var getFakePosition = createGetFakePosition(cb1, cb2, options);
        getFakePosition();
    };

    navigator.geolocation.watchPosition = function (cb1, cb2, options) {
        var getFakePosition = createGetFakePosition(cb1, cb2, options);
        getFakePosition();
        if (timerId) {
            window.clearInterval(timerId);
        }
        timerId = window.setInterval(getFakePosition, 5 * 1000);
        return timerId;
    };
})();</script><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="viewport" content="initial-scale=1.0"><meta name="description" content="testhybris Customer Secure Login Page. Login to your testhybris Customer Account."><title>Login | testhybris</title><meta name="format-detection" content="telephone=no"><link rel="stylesheet" type="text/css" href="assets/sfdc_210.css"><style type="text/css">html{visibility: hidden;}a{color:#0070d2;}body{background-color:#B1BAC1;}#content,.container{background-color:#ffffff;}#header{color:#51606E;}#header,#footer{color:#000000;}#signup{color:#000000;}#use_new_identity{color:#000000;text-decoration:underline;}#use_new_identity:hover,#use_new_identity:active{color:#000000;}#or_use_idp,#employee_login{color:#000000;}#cancel_idp,#cancel_idp_hint,#employee_login_link{color:#000000;text-decoration:underline;}#cancel_idp:hover,#cancel_idp:active,#cancel_idp_hint:hover,#cancel_idp_hint:active,#employee_login_link:hover,#employee_login_link:active{color:#000000;}.primary,.primary:hover,.primary:focus{background-color:#1797C0;}.primary{color:#FFFFFF;}.primary{border:#1797C0;}body{display: table; width:100%;}#content{margin-bottom:24px;}#wrap{height:100%;}#right { display: none; }</style><style type="text/css"> html { visibility: hidden; } </style><script type="text/javascript">if (self == top) {document.documentElement.style.visibility = 'visible';} else {document.write = ''; top.location = self.location; setTimeout(function(){document.body.innerHTML='';}, 1);window.self.onload=function(evt){document.body.innerHTML='';};}</script><script>var SFDCSessionVars={"server":"https://test.salesforce.com/login/sessionserver212.html","im":false,"ah":"active","save":"Save","saveOne":"Save 1 Change","sum":"#p# Saved Usernames","iaac":false,"hac":"Choose a Username","suo":"1 Saved Username","title":" | testhybris","saveMany":"Save #p# Changes","lpt":"Login","lllbl":"Lightning Login","host":"test.salesforce.com","le":false,"heu":"Edit Username List","ic":true,"lh":false,"ur":"https://delportal-bellhelicopter.cs21.force.com","hidp":"Log In Using","ih":"inactive","dc":"Username removed. Click Save to Commit Changes."};</script><script src="assets/SfdcSessionBase208.js"></script><script src="assets/LoginHint208.js"></script><script>LoginHint.hideLoginForm();</script><link rel="canonical" href="https://delportal-bellhelicopter.cs21.force.com/login?locale=us"></head><meta id="fake_position_meta" name="fake_geolocation_chrome_extension" content="{}"><body onload="lazyload();" style=""><div id="left" class="pr"><div id="wrap"><div id="main"><div id="wrapper"><div id="logo_wrapper" class="standard_logo_wrapper mb24"><h1 style="height: 100%; display: table-cell; vertical-align: bottom;"><img id="logo" class="standard_logo" src="assets/logo198.png" alt="testhybris" border="0" name="logo"></h1></div><h2 id="header" class="mb12" style="display: none;"></h2><div id="content" style="display: block;"><div id="chooser" style="display: none"><div class="loginError" id="chooser_error" style="display: block;"></div><div><span id="chooser_label" class="label">0 Saved Usernames</span><a href="javascript:void(0);" id="edit" class="fr small" onclick="LoginHint.showEdit();">Edit List</a></div><div class="scrollable mt8"><ul id="idlist"></ul></div></div><div id="manager" style="display: none"><div class="nonscrollable mt8"><ul id="editlist" class="mb24" aria-live="polite" aria-relevant="additions removals"></ul></div><div class="mt16"><button class="button primary fiftyfifty right" id="hint_save_edit" name="Save" onclick="LoginHint.saveHintEdit();">Save</button><button class="button secondary fiftyfifty" id="hint_back_edit" name="Cancel" onclick="LoginHint.showChooser();">Cancel</button></div></div><div id="theloginform" style="display: block;"><form name="login" method="post" id="login_form" onsubmit="handleLogin();" action="https://delportal-bellhelicopter.cs21.force.com/login" target="_top" novalidate="novalidate"><fieldset style="display:none">

    <input type="hidden" name="un" id="un_hfid" value="">

    <input type="hidden" name="width" value="">
    <input type="hidden" name="height" value="">
    <input type="hidden" name="hasRememberUn" value="true">
    <input type="hidden" id="login_startUrl" name="startURL" value="">
    <input type="hidden" name="loginURL" value="">
    <input type="hidden" name="loginType" value="">
    <input type="hidden" name="useSecure" value="true">
    <input type="hidden" name="local" value="">
    <input type="hidden" name="lt" value="standard">
    <input type="hidden" name="qs" value="r=https%3A%2F%2Fdelportal-bellhelicopter.cs21.force.com%2F">
    <input type="hidden" name="locale" value="">
    <input type="hidden" name="oauth_token" value="">
    <input type="hidden" name="oauth_callback" value="">
    <input type="hidden" name="login" value="">
    <input type="hidden" name="serverid" value="">
    <input type="hidden" name="QCQQ" value="xAeDHAMxFBS">
    <input type="hidden" name="display" value="page"></fieldset>
    <div id="usernamegroup" class="inputgroup"><label for="username" class="label">Username</label><div id="username_container"><div id="idcard-container" class="mt8 mb16" style="display: none"><div id="idcard"><img id="idcard-avatar" class="avatar" alt=""><a href="javascript:void(0);" id="clear_link" class="clearlink" onclick="LoginHint.clearExistingIdentity();"><img alt="Log In with a Different Username" class="clearicon" src="assets/clear.png"></a><span id="idcard-identity"></span></div></div><input class="input r4 wide mb16 mt8 username" type="email" value="" name="username" id="username" style="display: block;"><input type="hidden" name="ExtraLog" value="%5B%7B%22width%22:1440%7D,%7B%22height%22:900%7D,%7B%22language%22:%22en-US%22%7D,%7B%22offset%22:-5.5%7D,%7B%22scripts%22:%5B%7B%22size%22:2496,%22summary%22:%22(function%20installFakeGeolocationCode()%20%7B%5Cn%20%20%20%20%20%20%20%20v%22%7D,%7B%22size%22:249,%22summary%22:%22if%20(self%20==%20top)%20%7Bdocument.documentElement.style.v%22%7D,%7B%22size%22:576,%22summary%22:%22var%20SFDCSessionVars=%7B%5C%22server%5C%22:%5C%22https://test.salesf%22%7D,%7B%22url%22:%22https://delportal-bellhelicopter.cs21.force.com/jslibrary/SfdcSessionBase208.js%22%7D,%7B%22url%22:%22https://delportal-bellhelicopter.cs21.force.com/jslibrary/LoginHint208.js%22%7D,%7B%22size%22:26,%22summary%22:%22LoginHint.hideLoginForm();%22%7D,%7B%22size%22:36,%22summary%22:%22LoginHint.getSavedIdentities(false);%22%7D,%7B%22url%22:%22https://delportal-bellhelicopter.cs21.force.com/jslibrary/baselogin4.js%22%7D,%7B%22url%22:%22https://delportal-bellhelicopter.cs21.force.com/jslibrary/LoginMarketingSurveyResponse.js%22%7D,%7B%22size%22:262,%22summary%22:%22function%20handleLogin()%7Bdocument.login.un.value=doc%22%7D%5D%7D,%7B%22scriptCount%22:10%7D,%7B%22iframes%22:%5B%22https://test.salesforce.com/login/sessionserver212.html%22%5D%7D,%7B%22iframeCount%22:1%7D,%7B%22referrer%22:%22https://delportal-bellhelicopter.cs21.force.com/%22%7D%5D"></div></div><label for="password" class="label">Password</label><input class="input r4 wide mb16 mt8 password" type="password" id="password" name="pw" onkeypress="checkCaps(event)" autocomplete="off"><div id="pwcaps" class="mb16" style="display:none"><img id="pwcapsicon" alt="Caps Lock is on." width="12" src="assets/capslock_blue.png"> Caps Lock is on.</div><input class="button r4 wide primary" type="submit" id="Login" name="Login" value="Log In to Sandbox"><div class="w0 pr ln3 p16 remember"><input type="checkbox" class="r4 fl mr8" style="" id="rememberUn" name="rememberUn"><label for="rememberUn" class="fl pr db tn3">Remember me</label><br></div></form><div class="w0 links bt pt16 mb20"><a id="forgot_password_link" class="fl small" href="https://delportal-bellhelicopter.cs21.force.com/secur/forgotpassword.jsp?locale=us&amp;lqs=">Forgot Your Password?</a></div></div><div id="mydomainContainer" style="display:none;"><p class="mb16">To go to your company's login page, enter the custom domain name.</p><form onsubmit="DomainSwitcher.handleMyDomain();return false;"><label for="mydomain" class="label">Custom Domain</label><input type="text" class="input wide focus mt8 mb16" name="mydomain" id="mydomain" onkeyup="DomainSwitcher.updateMyDomain(this, event);"><div id="mydomain_preview" class="mb16 wordwrap">https://<em>domain</em>.my.salesforce.com</div></form><input type="hidden" id="mydomain_suffix" value=".my.salesforce.com"><input type="hidden" id="community_suffix" value=".cs21.force.com"><button class="button primary fiftyfifty right" id="mydomainContinue" name="Continue" onclick="DomainSwitcher.handleMyDomain();">Continue</button><button class="button secondary fiftyfifty" id="hint_back_domain" onclick="DomainSwitcher.dismissCustomDomain(&#39;Login&#39;,&#39; | testhybris&#39;);">Back</button></div></div><div class="tc" id="use_new_identity_div" style="display:none;"><a id="use_new_identity" href="javascript:void(0);" onclick="LoginHint.useNewIdentity();">Log In with a Different Username</a></div><div id="idp_hint_section" style="display:none;"><div id="idp_hint"></div><div id="cancel_idp_hint_div" class="tc"><a id="cancel_idp_hint" href="javascript:void(0);" onclick="IdpOptions.clearIdpHint(false); LoginHint.getSavedIdentities(false);">Log In with a Different Account</a></div></div><div id="or_use_idp" class="tc mb12" style="display: block;">Or log in using:</div><div id="idp_section_buttons" class="mb24" style="display: block;"><a class="button mb24 secondary wide" href="/openid"><span>Hybris Single Signon (SSO)</span></a></div><div id="employee_login" class="tc mt24" style="display: block;">Bell Helicopter employee? <a id="employee_login_link" href="https://bh--delportal.cs21.my.salesforce.com//servlet/networks/session/create?site=0DMq00000008QRd&amp;refURL=http%3A%2F%2Fdelportal-bellhelicopter.cs21.force.com%2Flogin&amp;inst=q">Log In</a></div></div></div></div><div id="footer">© 2018 salesforce.com. All rights reserved.</div></div><div aria-live="polite" aria-atomic="true" class="zen-assistiveText" style="width:0px;height:0px;" id="assistive-announce">Login</div><script>LoginHint.getSavedIdentities(false);</script><iframe title="sessionserver" src="assets/sessionserver212.html" style="position: absolute; top: -999px; left: -999px;"></iframe><script src="assets/baselogin4.js"></script><script src="assets/LoginMarketingSurveyResponse.js"></script><script>function handleLogin(){document.login.un.value=document.login.username.value;document.login.width.value=screen.width;document.login.height.value=screen.height;}function lazyload(){document.getElementById("pwcapsicon").src="/img/icon/capslock_blue.png";}loader();</script>
</body></html>