<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<h1>Welcome <h3>{{email}}</h3></h1>

<br>

<br>

<p>User Profile:</p>

<pre><code class="json">{{userProfile}}</code></pre>

<p>Open ID Token Data:</p>

<pre><code class="json">{{tokenData}}</code></pre>

<p>Decoded Token: Header</p>

<pre><code class="json">{{decodedToken.header}}</code></pre>

<p>Decoded Token: Payload</p>

<pre><code class="json">{{decodedToken.payload}}</code></pre>